/*Подключаем шрифты*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"),
    url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/*Подключаем общие стили==================================*/
body  {
  font-family: Gilroy, serif;
  background-color: #f6f6f6;
}
/* Обвертка */
.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}
/* Контейнер для контента */
.container {
  margin: 0 auto;
  max-width: 1146px;

}

/* Header==================================================== */
a {
  text-decoration: none;
  width: 100%;
  font-weight: 600;
  line-height: 16px;
  font-size: 16px;
  color: #242424;
}
/* Элементы меню */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 39px 0px 0px 0px;
  
}
.menu__box  {
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.menu__item-2 {
  margin-left: 32px;
}
.menu__item-3 {
   margin-left: 194px;
}
.menu__item-4 {
  margin-left: 31px;
}
/* Картинка фона */
.img__background {
  position: relative;
}
.img__background-header {
  position: absolute;
  z-index: -1;
  right: 0px;
}
/* Иконки соцсетей */
.icon__social-vk {
  display: block;
  margin-left: 141.5px;
  /* width: 32px; */
  border-radius: 2px solid #000;
}

@media screen and  (max-width:639px) {
  .container {
    max-width: 300px;
  }

  .menu__box {
    display: none;
  }
  .img__background {
    position:static;
  }
}


@media screen and (min-width: 640px) and (max-width: 767px) {
  .container {
    max-width: 382px;
  }
  .menu__box {
    display: none;
  }
  .img__background {
    position:static;
  }
}
/* Стили от 768px до 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 548px;
  }
  .menu__box {
    display: none;
  }
 
}
@media screen and (min-width: 1024px) and (max-width: 1269px) {
  .container {
    max-width: 804px;
    margin-left: 0 auto;
}
.menu__item-3 {
  margin-left: 52px;
}

}
/* Стили от 1270px до 1366px */
@media screen and (min-width: 1270px) and (max-width: 1366px) {

}
@media screen and (max-width: 1440px) {
  
}

@media screen and (max-width:1920px) {
  
}

