@media screen and (max-width: 639px) {
  .container {
    max-width: 300px;
  }
  .promo__title {
    font-size: 30px;
  }
  .menu__box {
    display: none;
  }
  .img__background {
    position: static;
  }
}