/* Кнопки ===============================================================*/
.btn {
    text-decoration: none;
    height: 42px;
    font-size: 20px;
    padding-left: 32px;
    padding-right: 32px;
    outline: none;
    font-weight: 500;
    background: #fbc832;
    border-radius: 58px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #ffdf86;
  }
  .btn:active {
    background-color: #ffbb0c;
  }
  .promo_btn {
    margin-top: 21px;
    width: 182px;
    color: #000000;
  }
  .btn_secondary {
    height: 42px;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid #ffc41e;
    border-radius: 58px;
    background-color: #f6f6f6;
    padding-right: 33px;
    padding-left: 32px;
    text-align: center;
    outline: none;
  }