/* рисуем разделительную линию */
.dividing-stripp {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.dividing-stripp img {
  position: relative;
  width: 150px;
}
.dividing-stripp::before {
  content: "";
  display: block;
  width: 50%;
  position: absolute;
  border-bottom: 1px solid #ffc41e;
  top: 50%;
  // right: 55.1vw;
  right: 58%;
}
.dividing-stripp::after {
  display: block;
  width: 50%;
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffc41e;
  top: 50%;
  left: 58%;
}
.home {
  margin-top: 63px;
}
.support {
  top: 47px;
  margin-top: 58px;
}
.support img {
  width: 130px;
}
.feed {
  margin-top: 47px;
  img {
    width: 130px;
  }
}
.auto-help {
  margin-top: 85px;
  img {
    width: 118px;
  }
}
.volunteering {
  .dividing-stripp {
    margin-top: 73px;
    img {
      width: 85px;
    }
  }
  //
}
