/* 
Header==================================================== */
#menu__toggle {
  display: none;
}
// =============================================
.header {
  position: relative;
  a {
    font-weight: 600;
    line-height: 16px;
    font-size: 16px;
    color: #242424;
  }
}
/* Элементы меню============================================== */
.menu {
  display: inline-flex;
  position: relative;
}
.menu__box {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.menu__item-2 {
  margin-left: 32px;
}
.menu__item-3 {
  margin-left: 194px;
}
.menu__item-4 {
  margin-left: 31px;
}
/* Картинка фона ======================================================*/
.header__image-background {
  position: absolute;
  width: 718px;
  height: 713px;

  right: 0px;
  z-index: -1;
  background: url(../images/content/dog_header.png) no-repeat;
}

/* Иконки соцсетей =========================================================*/
// social_list
// _icon-vk
.header {
  .social_list {
    display: inline-flex;
    margin-top: 40px;
    // margin-left: 287px;
    margin-left: 25%;
    a {
      margin-right: 28px;
      color: #fff;
      border-color: #fff;
    }
  }
}
