<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Спаси жизнь</title>
</head>

<body>

  <header class="header">

    <div class="container">
      <div class="header-background"> </div>
      <div class="menu-burger">
        <span></span>
      </div>

      <nav class="menu">

        <ul class="menu-box">
          <ul class="menu-box__item">
            <li><a class="menu-item" href="#help"> Как помочь</a></li>
            <li><a class="menu-item menu-item-2" href="#photo-card">Подопечные животные</a></li>
          </ul>
          <ul class="menu-box__item">
            <li><a class="menu-item menu-item-3" href="#about">О нас</a></li>
            <li class="last-li"><a class="menu-item menu-item-4" href="#contacts">Контакты</a></li>

          </ul>
          <span class='close'></span>

        </ul>
        <ul class="menu-box__item social-list">
          <li><a class="icon _icon-vk" href="https://vk.com/animalsgrodno"></a></li>
          <li><a class="icon _icon-instagram" href="https://www.instagram.com/animalsgrodno/"></a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main class="main">

    <section class="promo ">
      <div class="container">
        <p class="promo-title">СПАСИ ЖИЗНЬ</p>
        <h1 class="promo-h1">Благотворительное общественное объединение защиты животных</h1>
        <p class="promo-text">Наша цель: помощь бездомным животным. Также мы поддерживаем хвостиков, которые оказались
          в пункте отлова и временного содержания в Гродно.</p>

        <div class="promo-background-img">
        </div>
        <div class="box-img">
          <picture class="promo-picture">
            <source media="(max-width: 767px)" srcset="images/content/cat_640_360.png">
            <source media="(max-width: 1023px)" srcset="images/content/cat_768.png">
            <source media="(max-width: 1269px)" srcset="images/content/cat_1024.png">
            <source media="(min-width: 1270px)" srcset="images/content/cat.png">
            <img src="images/content/cat.png" alt="Улыбчивый кот">
          </picture>
        </div>
        <p class="promo-text-info">
          У животных, находящихся в пункте отлова и временного содержания бродячих животных, есть всего несколько дней
          до усыпления...
        </p>

        <button class="btn promo-btn">
          Хочу помочь
        </button>

      </div>
      <article class="promo-footer">
        <div class="container">
          <div class="image-wrapper">
            <div class="image-wrapper-main circle-big"></div>
            <div class="image-wrapper-secondary circle-small">

            </div>

          </div>
          <div class="promo-footer-info">
            <h2 class="promo-h2">Тут большие добрые сердца помогают жить маленьким сердечкам</h2>
            <p class="text promo-footer-text">
              Ежедневно в пункт временного содержания, путём отлова, попадают безнадзорные собаки и коты. По закону, у
              животных находящихся в САХе есть всего лишь несколько дней, чтобы найти прежнего или обрести нового
              хозяина. В противном случае невостребованных животных ждёт УСЫПЛЕНИЕ! Здесь вы сможете найти своего как
              потерявшегося, так и нового верного друга!
            </p>
            <p class="text promo-footer-text">Если нет возможности забрать хвостика, вы&nbsp;можете помочь нам
              финансово или другой материальной помощью. Еще нам всегда нужны добрые и&nbsp;отзывчивые
              люди&nbsp;&mdash;
              волонтеры, без вас очень трудно!!</p>
          </div>

        </div>
      </article>

    </section>

    <section id="help" class="help">

      <div class="container">
        <h3 class="title-help">Как помочь?</h3>


        <ul class="king-help">
          <li class="help-items">
            <a href="#home" class="help-items-img"></a>
            <p>Дать хвостику дом или взять на передержку</p>
          </li>
          <li class="help-items">
            <a href="#support" class="help-items-img"></a>
            <p>Перечислить деньги в фонд помощи</p>
          </li>
          <li class="help-items">
            <a href="#feed" class="help-items-img"></a>
            <p>Привезти корм, лекарства или другие вещи</p>
          </li>
          <li class="help-items">
            <a href="#taxi" class="help-items-img"></a>
            <p>Доставить животным еду или отвезти в больницу</p>
          </li>
          <li class="help-items">
            <a href="#dividing" class="help-items-img"></a>
            <p>Выгуливать, кормить, мыть или лечить хвостиков</p>
          </li>

        </ul>


      </div>
    </section>



    <!-- разделитель с картинкой -->
    <div id='home' class="dividing-stripp home">
      <img class="img-item" src="images/content/Group1.svg" alt="">
    </div>


    <div class="container">
      <section class="home-for">

        <article class="home-for-info">
          <h3>Дом и любовь для хвостика</h3>
          <p>Самая большая помощь&nbsp;&mdash; это спасти жизнь животному, забрать домой, или помочь хвостику
            с поиском дома. У
            наших подопечных очень мало времени. Рассказывайте друзья и&nbsp;и&nbsp;знакомым о наших хвостиках,
            возможно кому-то
            нужен будет именно такой друг.</p>
        </article>

        <article class="home-for-info">
          <h3>Передержка</h3>
          <p>Когда животных ждет скорое усыпление, очень важно найти ему дом. Но&nbsp;пока дом и&nbsp;новые или старые
            хозяева
            разыскиваются, хвостику нужно где-то жить. Вы&nbsp;можете забрать к&nbsp;себе домой животных на&nbsp;время.
            Волонтеры, в
            свою очередь, обязательно помогут с&nbsp;поиском нового дома.
          </p>
        </article>

      </section>

      <section class="photo-card">
        <h3 id='photo-card' class="title photo-card">Наши подопечные</h3>
        <div class="photo-card-box">
          <div class="card-animal">
            <figure>
              <img src="images/content/card/image_1.png" alt="">
              <figcaption>Моник</figcaption>
            </figure>
            <span>Мальчик, 7 месяцев</span>
            <p>К поводку приучен. Не агрессивный. В еде не привередничает. С другими животными не конфликтует. Привит.
              Очень плачет и&nbsp;хочет на&nbsp;ручки. Отдается только в добрые руки и&nbsp;под паспорт.</p>
            <button class='btn'>
              Забрать домой
            </button>
            <button class="btn-secondary">
              Забрать на передержку
            </button>
          </div>
          <div class="card-animal">
            <figure>
              <img src="images/content/card/image_2.png" alt="">
              <figcaption>Лунатик</figcaption>
            </figure>
            <span>Мальчик, 7 месяцев</span>
            <p>Она не&nbsp;знает, что такое&nbsp;&mdash; царапаться и&nbsp;кусаться, она не&nbsp;знает, что такое
              нападать на&nbsp;других животных.</p>
            <button class='btn'>
              Забрать домой
            </button>
            <button class="btn-secondary">
              Забрать на передержку
            </button>
          </div>
          <div class="card-animal">
            <figure>
              <img src="images/content/card/image_3.png" alt="">
              <figcaption>Герда</figcaption>
            </figure>
            <span>Мальчик, 7 месяцев</span>
            <p>К&nbsp;поводку приучен. Не&nbsp;агрессивный. В&nbsp;еде не&nbsp;привередничает. С&nbsp;другими животными
              не&nbsp;конфликтует. Привит. Очень плачет и&nbsp;хочет на&nbsp;ручки. Отдается только в&nbsp;добрые руки
              и&nbsp;под паспорт.</p>
            <button class='btn'>
              Забрать домой
            </button>
            <button class="btn-secondary">
              Забрать на передержку
            </button>
          </div>
          <div class="card-animal">
            <figure>
              <img src="images/content/card/image_4.png" alt="">
              <figcaption>Саки</figcaption>
            </figure>
            <span>Мальчик, 7 месяцев</span>
            <p>Веселый и&nbsp;очень игривый, ему так нужны ваша любовь и&nbsp;ласка.У него потрясающая густая шерсть
              в&nbsp;полосочку, &laquo;серьезные&raquo; желтые глаза и&nbsp;длиннющие белые усы.</p>
            <button class='btn'>
              Забрать домой
            </button>
            <button class="btn-secondary">
              Забрать на передержку
            </button>
          </div>
          <div class="card-animal">
            <figure>
              <img src="images/content/card/image_5.png" alt="">
              <figcaption>Моника</figcaption>
            </figure>
            <span>Девочка, 4 месяца</span>
            <p>Девочке 4&nbsp;месяца жила в&nbsp;ужасных условиях, бывшая хозяйка могла исчезнуть на&nbsp;двое суток
              закрыв её&nbsp;одну в&nbsp;комнате без еды, ей&nbsp;нельзя там больше оставаться. Мила очень ласковая,
              забавная, в&nbsp;еде не&nbsp;привередлива.</p>
            <button class='btn'>
              Забрать домой
            </button>
            <button class="btn-secondary">
              Забрать на передержку
            </button>
          </div>
          <div class="card-animal">
            <figure>
              <img src="images/content/card/image_6.png" alt="">
              <figcaption>Андреантино</figcaption>
            </figure>
            <span>Мальчик, 7 месяцев</span>
            <p>Веселый и&nbsp;очень игривый, ему так нужны ваша любовь и&nbsp;ласка.У него потрясающая густая шерсть
              в&nbsp;полосочку, &laquo;серьезные&raquo; желтые глаза и&nbsp;длиннющие белые усы.</p>
            <button class='btn'>
              Забрать домой
            </button>
            <button class="btn-secondary">
              Забрать на передержку
            </button>
          </div>
        </div>
        <span class="new-page">
          <a class="new-page-link arrow" href="./inner.html">
            Посмотреть всех (157)
          </a>
        </span>
        <div class="photo-card-footer">
          <p>Помочь быстрее пристроить хвостиков можно путем размещения наших постов у себя в соц сетях. Переходите на
            наши странички.</p>
          <div class="icon-photo-card">
            <div class="social-list">
              <a class="icon _icon-vk" href="https://vk.com/animalsgrodno"></a>
              <a class="icon _icon-instagram" href="https://www.instagram.com/animalsgrodno/"></a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="requisites">
      <!-- разделитель с картинкой -->
      <div id="support" class="dividing-stripp support">
        <img class="img-item" src="images/content/Group2.svg" alt="">
      </div>

      <div class="container">

        <h3>Финансовая поддержка</h3>
        <p class="requisites-intro"> Такая помощь необходима для оплаты стерилизации, прививок, лечения больных
          животных, покупка корма и
          других жизненно необходимых вещей.</p>

        <div class="requisites-article">

          <article class="requisites-article-item">
            <h4>Расчетный счет в Банке</h4>

            <ul>
              <li>БООЗЖ СПАСИ ЖИЗНЬ</li>
              <li>УНП: 590375680</li>
              <li><b> Текущий (расчетный) счет в BYN:</b></li>
              <li>BY13ALFA30152555460010270000</li>
              <li>ЗАО Альфа-Банк</li>
              <li>БИК: ALFABY2X</li>
            </ul>
            <button class="btn">
              Быстрый платеж
            </button>
          </article>
          <article class="requisites-article-item">
            <h4>Коробочки в городе</h4>
            <ul>
              <li>Наши коробочки для пожертвований в г. Гродно:
                <ol>
                  <li>Зоомаркет «Зообазар», ул. Комарова, 26а;</li>
                  <li>Учебный корпус ГГАУ, ул. Волковича, 1;</li>
                  <li>Парикмахерская «ПРИМАДОННА», ул. Гоголя, 11;</li>
                  <li>Зоомаркет «Зообазар» ул. Пушкина, 31а;</li>
                  <li>Гипермаркет «Евроопт», ул. Тимирязева, 8;</li>
                  <li>Гипермаркет «Евроопт», ул. Янки Купалы, 82А;</li>
                  <li>Фитнес-центр «АДРЕНАЛИН» ул. Подольная, д.37.</li>
                </ol>
              </li>
            </ul>
          </article>

        </div>
      </div>
    </section>



    <div id="feed" class="dividing-stripp feed">
      <img class="img-item" src="images/content/Group3.svg" alt="">
    </div>
    <section class="other-help">
      <div class="container">

        <div>
          <h4>Корма</h4>
          <span> Можно помочь с покупкой и доставкой еды для хвостатых:</span>
          <ul>
            <li>Быстроразваривающиеся <b>крупы</b>: дроблёная гречка, овсянка, сечка,<br>
              овсяные/гречневые хлопья, нетребующие варки;</li>
            <li><b>Сухие и влажные корма</b> для собак и котов (кроме Рекс и Petboom),</li>
            <li><b>Фарш для собак</b>, "БОБИКИ" и др.</li>

          </ul>
          <p><span> Вы можете помочь в приготовлении каш и их доставке!</span></p>

        </div>
        <div class="other-help-info">
          <h4>Лекарства</h4>
          <p>Нам необходимы препараты: <b>цефтриаксон</b> (флакон по 0,5 г); <b>новокаин</b> (раствор для инъекций);
            <b>гискан;
              гамавит; катозал; антитокс фоспренил; энтеросгель</b> (паста); <b>препараты от глистов, блох, клещей, для
              заживления ран.</b>
          </p>
        </div>
        <div class="other-help-info">
          <h4>Другие нужные вещи</h4>
          <p>
            Для содержания животных всегда необходимы:
          <ul>
            <li>Ошейники, поводки, намордники;</li>
            <li>Опилки и солома в любом количестве;</li>
            <li>Посуда для животных и для приготовления еды - миски, кастрюли, ножи, черпаки и др.);</li>
            <li>Теплые вещи, лежаки для утепления и уюта животных;</li>
            <li>Будки.</li>
          </ul>
          </p>
          <span class="new-page">
            <a class="new-page-link" href="">Кому и куда передать?</a>
          </span>
        </div>
      </div>
    </section>



    <section class="auto-help">
      <!-- разделитель с картинкой -->
      <div id="taxi" class="dividing-stripp auto-help">
        <img class="img-item" src="images/content/Group4.svg" alt="">
      </div>
      <div class="container">
        <h3>Автопомощь</h3>
        <p>Важной помощью будет транспортировка. Необходимо отвозить животных в ветеринарную клинику в сопровождении
          нашего волонтера или привозить еду. Если у вас есть автомобиль, немного свободного времени и доброе сердце -
          будем вам рады.</p>
        <button class="btn">Оставить заявку</button>
    </section>



    <section class="volunteering">
      <!-- разделитель с картинкой -->

      <div id="dividing" class="dividing-stripp">

        <img class="img-item" src="images/content/Group5.svg" alt="">
      </div>


      <div class="container">

        <div class="image-wrapper">
          <div class="image-wrapper-main circle-big promo-box-circle">

          </div>
        </div>
        <article>

          <h3>Волонтерство</h3>
          <p>Катастрофически не хватает добрых людей, которые готовы поделиться своим временем и окружить заботой
            животных. Много опыта не нужно, все расскажем и поможем! Если Вы располагаете несколькими часами
            свободного времени, проведите его с пользой! Главное условие - это Ваше совершеннолетие и любовь к
            животным! </p>
          <p></p>Часто животным не хватает обычных прогулок и игры, они сидят в клетках и грустят.</p>
          <button class="btn">Оставить заявку</button>
        </article>




      </div>
      </div>
    </section>

    <section class="news">
      <div class="container">
        <h3>Новости</h3>
        <div class="news-blog">
          <img src="images/content/news1.png" alt="">
          <div class="news-blog-text">
            <p>Срочно необходимо забрать собаку (мальчик) на передержку или насовсем. Послезавтра его ждет усыпление. С
              кормом и доставкой поможем. В данный момент находится в вольера САХа.</p>
            <p>Контактный телефон + 37529 58930557</p>
            <p>Спасите жизнь хвостику.</p>
          </div>
        </div>
        <div class="news-blog">
          <img src="images/content/news2.png" alt="">
          <div class="news-blog-text">
            <p>Найдены бедомные щенки по улице Горького д.56.</p>
            <p>Сегодня будут перевезены в вольеры САХа. Если у вас есть возможность взять на передержку или пристроить
              малышей - будем вам очень благодарны.</p>
          </div>
        </div>
        <a class="new-page-link" href="#">Показать все новости</a>
      </div>
    </section>

    <section class="about">

      <div class="container">
        <h3 id='about'>О нас</h3>
        <p>Мы - благотворительное общественное объединение защиты животных &laquo;СПАСИ ЖИЗНЬ&raquo;. Цель нашей
          деятельности: помощь бездомным животным, оказавшимся в Пункте отлова и временного содержания безнадзорных
          животных г.Гродно.</p>
        <div id='contacts' class="contacts">
          <h4 class="title about">Контакты</h4>
          <p>Если Вы&nbsp;хотите приютить одного из&nbsp;этих четвероногих или оказать какую-либо помощь, звоните
            волонтёрам:</p>
          <ul>
            <li>+375 (33) 6237879, Лена</li>
            <li>+375 (29) 7877791, Ольга</li>
            <li>+375 (29) 5837015, Рита</li>
          </ul>
        </div>


        <div class="about-web">
          <div>
            <p>Связаться с нами можно написав в соц. сетях.</p>
          </div>

          <div class="social-list">
            <a class="icon _icon-vk" href="https://vk.com/animalsgrodno"></a>
            <a class="icon _icon-instagram" href="https://www.instagram.com/animalsgrodno/"></a>
          </div>
        </div>
      </div>
    </section>

    <section class="thank">
      <div class="box-left">
        <div class="img-foot">
          <p class="thanks">Спасибо за помощь</p>
        </div>
      </div>


    </section>
    </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">

      <ul class="footer-menu">
        <li class="footer-items first-item"><a href="">Дом или передержка</a></li>
        <li class="footer-items"><a href="">Финансовая поддержка</a></li>
        <li class="footer-items"><a href="">Корма, лекарства и другие вещи</a></li>

      </ul>
      <ul class="footer-menu">
        <li class="footer-items"><a href="">Автопомощь</a></li>
        <li class="footer-items"><a href="">Волонтерство</a></li>
      </ul>
      <ul class="footer-about">
        <li class="first-item"><a href="">О нас</a></li>
        <li> <a href="">Контакты</a></li>
      </ul>



    </div>
    <p>© 2020 БООЗЖ "СПАСИ ЖИЗНЬ"</p>
  </footer>

</body>

</html>