<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/main.css"> -->
    <title>Наши подопечные</title>
</head>

<body>
    <div class="container">
        <header class="header-inner">

            <a href="./index.html">
                <img src="../images/content/arrow_back.svg" alt="">
                Вернуться назад
            </a>

            <h1>Наши подопечные</h1>

            <select name="select">
                <option value="value1">Коты и собаки</option>
                <option value="value2">Только коты</option>
                <option value="value3">Только собаки</option>

            </select>
        </header>

        <main>
            <section class="photo__card">

                <div class="photo__card-box">
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_1.png" alt="">
                            <figcaption>Моник</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>К поводку приучен. Не агрессивный. В еде не привередничает. С другими животными не
                            конфликтует. Привит.
                            Очень плачет и&nbsp;хочет на&nbsp;ручки. Отдается только в добрые руки и&nbsp;под паспорт.
                        </p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_2.png" alt="">
                            <figcaption>Лунатик</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>Она не&nbsp;знает, что такое&nbsp;&mdash; царапаться и&nbsp;кусаться, она не&nbsp;знает, что
                            такое
                            нападать на&nbsp;других животных.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_3.png" alt="">
                            <figcaption>Герда</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>К&nbsp;поводку приучен. Не&nbsp;агрессивный. В&nbsp;еде не&nbsp;привередничает.
                            С&nbsp;другими животными
                            не&nbsp;конфликтует. Привит. Очень плачет и&nbsp;хочет на&nbsp;ручки. Отдается только
                            в&nbsp;добрые руки
                            и&nbsp;под паспорт.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_4.png" alt="">
                            <figcaption>Саки</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>Веселый и&nbsp;очень игривый, ему так нужны ваша любовь и&nbsp;ласка.У него потрясающая
                            густая шерсть
                            в&nbsp;полосочку, &laquo;серьезные&raquo; желтые глаза и&nbsp;длиннющие белые усы.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_5.png" alt="">
                            <figcaption>Моника</figcaption>
                        </figure>
                        <span>Девочка, 4 месяца</span>
                        <p>Девочке 4&nbsp;месяца жила в&nbsp;ужасных условиях, бывшая хозяйка могла исчезнуть
                            на&nbsp;двое суток
                            закрыв её&nbsp;одну в&nbsp;комнате без еды, ей&nbsp;нельзя там больше оставаться. Мила очень
                            ласковая,
                            забавная, в&nbsp;еде не&nbsp;привередлива.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_6.png" alt="">
                            <figcaption>Андреантино</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>Веселый и&nbsp;очень игривый, ему так нужны ваша любовь и&nbsp;ласка.У него потрясающая
                            густая шерсть
                            в&nbsp;полосочку, &laquo;серьезные&raquo; желтые глаза и&nbsp;длиннющие белые усы.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                </div>

            </section>
            <section class="photo__card">

                <div class="photo__card-box">
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_1.png" alt="">
                            <figcaption>Моник</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>К поводку приучен. Не агрессивный. В еде не привередничает. С другими животными не
                            конфликтует. Привит.
                            Очень плачет и&nbsp;хочет на&nbsp;ручки. Отдается только в добрые руки и&nbsp;под паспорт.
                        </p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_2.png" alt="">
                            <figcaption>Лунатик</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>Она не&nbsp;знает, что такое&nbsp;&mdash; царапаться и&nbsp;кусаться, она не&nbsp;знает, что
                            такое
                            нападать на&nbsp;других животных.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_3.png" alt="">
                            <figcaption>Герда</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>К&nbsp;поводку приучен. Не&nbsp;агрессивный. В&nbsp;еде не&nbsp;привередничает.
                            С&nbsp;другими животными
                            не&nbsp;конфликтует. Привит. Очень плачет и&nbsp;хочет на&nbsp;ручки. Отдается только
                            в&nbsp;добрые руки
                            и&nbsp;под паспорт.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_4.png" alt="">
                            <figcaption>Саки</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>Веселый и&nbsp;очень игривый, ему так нужны ваша любовь и&nbsp;ласка.У него потрясающая
                            густая шерсть
                            в&nbsp;полосочку, &laquo;серьезные&raquo; желтые глаза и&nbsp;длиннющие белые усы.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_5.png" alt="">
                            <figcaption>Моника</figcaption>
                        </figure>
                        <span>Девочка, 4 месяца</span>
                        <p>Девочке 4&nbsp;месяца жила в&nbsp;ужасных условиях, бывшая хозяйка могла исчезнуть
                            на&nbsp;двое суток
                            закрыв её&nbsp;одну в&nbsp;комнате без еды, ей&nbsp;нельзя там больше оставаться. Мила очень
                            ласковая,
                            забавная, в&nbsp;еде не&nbsp;привередлива.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                    <div class="card_animal">
                        <figure>
                            <img src="../images/content/card/image_6.png" alt="">
                            <figcaption>Андреантино</figcaption>
                        </figure>
                        <span>Мальчик, 7 месяцев</span>
                        <p>Веселый и&nbsp;очень игривый, ему так нужны ваша любовь и&nbsp;ласка.У него потрясающая
                            густая шерсть
                            в&nbsp;полосочку, &laquo;серьезные&raquo; желтые глаза и&nbsp;длиннющие белые усы.</p>
                        <button class='btn'>
                            Забрать домой
                        </button>
                        <button class="btn_secondary">
                            Забрать на передержку
                        </button>
                    </div>
                </div>


            </section>
        </main>
        <footer class="footer">


            <ul>
                <li><a href="">Дом или передержка</a></li>
                <li><a href="">Финансовая поддержка</a></li>
                <li><a href="">Корма, лекарства и другие вещи</a></li>
                <li><a href="">Автопомощь</a></li>
                <li><a href="">Волонтерство</a></li>
            </ul>
            <ul class="footer_about">
                <li><a href="">О нас</a></li>
                <li> <a href="">Контакты</a></li>
            </ul>


            <p>© 2020 БООЗЖ "СПАСИ ЖИЗНЬ"</p>

        </footer>
    </div>
</body>

</html>