/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

//button-color
$btn-color: #fbc832;
$btn-hover-color: #ffdf86;
$btn-active-color: #ffbb0c;
$btn-sec-border-color: #ffc41e;
$btn-sec-background-color: #f6f6f6;

$left-box-color: #ffc41e;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #242424;

/* Components */
