@media screen and (min-width: 1024px) and (max-width: 1269px) {
  .container {
    max-width: 804px / 1024px * 100%;
    margin: 0 auto;
  }
  h3 {
    font-size: 24px;
  }

  .header-background {
    background-image: url(../images/design/dog_header_1024.png);
  }
  .promo {
    margin-top: -6px;
  }
  .promo-title {
    font-size: 64px;
    margin-bottom: 69px;
  }
  .promo-h1 {
    font-size: 14px;
  }
  .promo-text {
    margin-top: 14px;
    width: 461px;
    font-size: 14px;
  }
  .promo-text-info {
    font-size: 20px;
    line-height: 24px;
    width: 300px;
  }
  .promo-btn {
    margin-top: 24px;
  }
  .promo-picture {
    top: 74px;
    left: 453px / 1024px * 100%;
  }

  /* Надпись "Я буду лучшим другом" */
  .container {
    .promo-background-img {
      top: 167px;
      left: -101px;
      background-size: 69.5% auto;
    }
  }
  .promo-footer {
    margin-top: 106px;
    height: 100%;
    padding-bottom: 4.5%;
  }
  /* Декоративный элемент слева */
  .image-wrapper {
    flex-shrink: 0;
    top: 38px;
    position: relative;
    width: 45%;
    left: -20px;
  }
  .circle-big {
    overflow: hidden;
    border: 21px solid;
    border-bottom: 18px solid;
    border-radius: 50%;
    color: #ffc41e;
  }
  .circle-small {
    border: 5px solid #ffc41e;
    border-bottom: 6px solid #ffc41e;
    border-radius: 50%;
  }
  .promo-footer-info {
    // width: 329px;
    margin-top: 54px;
    margin-left: 53px;
    margin-right: 0.74%;
    padding-bottom: 0.29%;
    .promo-h2 {
      font-size: 24px;
    }
    .promo-footer-text {
      font-size: 16px;

      padding-top: 8px;
      margin-bottom: -8px;
    }
  }
  /* Section как помочь */
  .title-help {
    font-size: 24px;
    margin-top: 63px;
  }
  .card_box {
    width: 100px;
    height: 100px;
  }
  .card_info {
    margin-top: 9px;
    margin-right: -22px;
    margin-left: 20px;
  }

  .king-help {
    margin-top: 28px;
    padding-right: 17px;
    padding-left: 10px;
  }
  .help-items {
    p {
      width: 140px;
      font-size: 14px;
    }
    .help-items-img {
      width: 110px;
      height: 110px;
    }
  }
  .home {
    margin-top: 58px;
  }
  .dividing-stripp img {
    width: 100px;
  }
  .home-for {
    // padding-left: 115px;
    h3 {
      height: 17%;
    }
    p {
      margin-top: 13px;
      width: 275px;
    }
  }
  .home-for-info {
    padding-right: 74px;
  }

  //Grid card-box======================
  .photo-card-box {
    grid-gap: 69px;
  }
  .photo-card {
    h3 {
      margin-top: 52px;
      font-size: 24px;
    }
  }
  .card-animal {
    figure {
      margin: 0 auto;

      margin-bottom: -21px;
      padding: 17px;
    }
  }

  .volunteering {
    padding-bottom: 41px;

    .promo-box {
      &::before {
        content: "";
        width: 50vw;
        height: 521px;
      }
      &::after {
        content: "";
        width: 464px;
        height: 464px;
      }
    }
    article {
      padding-top: 0;
    }
  }
  .requisites-article {
    justify-content: space-between;
  }
  .news {
    padding-bottom: 36px;
  }
  .thank {
    height: 555px;
  }
  .box-left {
    .thanks {
      margin-top: 21.7886178862%;
      font-size: 48px;
    }
    .img-foot {
      background-size: 64px;
    }
  }
}
