@media screen and (min-width: 360px) and (max-width: 639px) {
  .container {
    max-width: 300px / 360px * 100%;
  }

  .menu__box {
    display: none;
  }
  h3{
    font-size: 18px;
  }

  @import "../components/burger";
  .menu__btn {
    top: 32px;
    left: 3%;
    width: 24px;
    height: 16px;
  }
  .header {
    .social_list {
      margin-top: 0px;
      margin-left: (256px / 360px) * 100%;
      .icon {
        width: 32px;
        height: 32px;
        font-size: 19px;
        margin-right: 19px;
      }
    }
    .img__background-header {
      right: -10%;
    }
  }

  .promo {
    margin-top: -12px;
  }
  .promo__h1 {
    font-size: 12px;
    margin-top: -31px;
    width: 211px;
    line-height: 14px;
  }

  .promo__text {
    margin-top: 21px;
    width: 158px;
    font-size: 14px;
    line-height: 144%;

  }

  .promo__title {
    font-size: 30px;
    line-height: 36px;
  }
  .promo__text-info {
    margin-top: 92px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
  }
  .promo_btn {
    margin-top: 4px;
    margin-left: 18%;
    font-size: 18px;
    padding: 0 17.54px;
    height: 30px;
    width: 194px;
  }
  .promo__picture {
    top: -83px;
    left: 38.5%;
  }
  /* Надпись "Я буду лучшим другом" */
  .container {
    .promo__background-img {
      top: 194px;
      left: -30px;
      background-size: 75.5% auto;
  
    }
  }
  
  .promo__footer {
    margin-top:28px;
    height: 100%;
    padding-bottom: 5%;
    .container{
      flex-direction: column;
    }
  }
  .image-wrapper {
    top: 16px;
    width: 64%;
    left: 19px;
}
  .circle-big {
    border: 11px solid;
    border-right: 8px solid;
    border-bottom: 9px solid;
    border-radius: 50%;
    color: #ffc41e;
  }
  .circle-small {
    border: 3.25px solid;
    border-right: 2.97px solid;
    border-bottom: 3.34px solid;
    border-radius: 50%;
    color: #ffc41e;
  }
  .promo__footer-info {
    width: 300px;
    .promo__h2 {
      padding-top: 36px;
      font-size: 16px;
      padding-left: 0;
    }
    .promo__footer_text {
      font-size: 14px;
      margin-left: 0px;
      margin-bottom: 0px;
      line-height: 144%;
    }
  }
    /* Section как помочь */

  .title__help {
    font-size: 18px;
    margin-top: 32px;
  }
  .king__help {
    margin-top: 22px;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: space-evenly;
    .help-items {
      margin-left: 14px;
      margin-right: 0px;
      p {
        width: 142px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 7px;
        margin-left: -13px;
      }
  .help-items-img {
   
    width: 80px;
    height: 80px;
  }
    }
  }

  // =====================================
  .home {
    margin-top: 38px;
  }
  .dividing__stripp img {
      width: 54px;
  }
  .dividing__stripp::before{
    right: 70%;
    
  }
  .dividing__stripp::after {
  left: 70%;
  }
  .home__for {
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 16px;
    }
    .home__for-info {
      width: 100%;
      padding-right: 0px;
    
      h3{
        height: 10%;
        text-align: center;
        font-size: 16px;
      }
      p{
        font-size: 14px;
        margin-top: 21px;
        line-height: 145%;
        margin-bottom: 28px;
      }
    }
}
