@media screen and (min-width: 640px) and (max-width: 767px) {
  @import "../components/burger2";
  .container {
    max-width: 382px / 640px * 100%;
  }
  // .menu-box {
  //   display: none;
  // }
  h3 {
    font-size: 18px;
  }
  // @import "../components/burger";
  .menu-btn {
    top: 32px;
    left: 10.5%;
    width: 24px;
    height: 16px;
  }
  // .header {
  //   .social-list {
  //     margin-top: 0px;
  //     margin-left: (495px / 640px) * 100%;
  //     .icon {
  //       width: 30px;
  //       height: 30px;
  //       font-size: 19px;
  //       margin-right: 19px;
  //     }
  //   }
  // }
  .header-background {
    background-image: url(../images/design/dog_header_640.png);
  }

  .promo {
    margin-top: -6px;
  }
  .promo-title {
    font-size: 30px;
    margin-top: 33px;
    margin-bottom: 48px;
  }
  .promo-h1 {
    font-size: 12px;
    width: 282px;
    line-height: 14px;
  }
  .promo-text {
    padding-top: 14px;
    font-size: 14px;
    width: 282px;
  }
  .promo-text-info {
    margin-top: 155px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
  }
  .promo-btn {
    margin-top: 3px;
    margin-left: 93px;
    font-size: 18px;
    padding: 0 17.54px;
    height: 30px;
    width: 194px;
  }
  .promo-picture {
    top: -22px;
    left: 65.5%;
  }

  /* Надпись "Я буду лучшим другом" */
  .container {
    .promo-background-img {
      top: 98px;
      background-size: 101.5% auto;
    }
  }
  .promo__footer {
    margin-top: 49px;
    height: 100%;
    .container {
      flex-direction: column;
    }
  }
  .image-wrapper {
    top: 14px;
    width: 51%;
    left: 79px;
  }
  .circle-big {
    overflow: hidden;
    border: 11px solid;
    border-right: 8px solid;
    border-bottom: 9px solid;
    border-radius: 50%;
    color: #ffc41e;
  }
  .circle-small {
    border: 3.25px solid;
    border-right: 2.97px solid;
    border-bottom: 3.34px solid;
    border-radius: 50%;
    color: #ffc41e;
  }
  .promo-footer-info {
    width: 100%;
    margin-right: 0px;
    .promo-h2 {
      padding-top: 33px;
      font-size: 16px;
      padding-left: 0;
    }
    .promo-footer-text {
      font-size: 14px;
      margin-left: 0px;
      padding-top: 0px;
      margin-bottom: 19px;
      line-height: 144%;
    }
  }
  /* Section как помочь */
  .help {
    .container {
      max-width: 78%;
    }
  }
  .title-help {
    font-size: 18px;
    margin-top: 32px;
  }
  .king-help {
    margin-top: 28px;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: space-evenly;
    .help-items {
      margin-left: 9px;
      margin-right: 0%;
      p {
        width: 142px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 9px;
        margin-left: -20px;
      }
      .help-items-img {
        width: 80px;
        height: 80px;
      }
    }
  }

  // ==================================

  .home {
    margin-top: 31px;
  }
  .dividing-stripp::after img {
    position: relative;
    width: 54px;
  }
  .dividing-stripp::before {
    right: 56%;
  }
  .dividing-stripp::after {
    left: 56%;
  }
  .home-for {
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 16px;
  }
  .home-for-info {
    width: 100%;
    padding-right: 0px;

    h3 {
      height: 10%;
      text-align: center;
      font-size: 16px;
    }
    p {
      font-size: 14px;
      margin-top: 28px;
      line-height: 141%;
      margin-bottom: 23px;
    }
  }

  .card-animal {
    figure {
      margin: 0 auto;

      margin-bottom: -21px;
      padding: 17px;
    }
  }
  .photo-card-footer {
    padding-left: 0;
  }
}
