@media screen and (min-width: 640px) and (max-width: 767px) {
  .container {
    max-width: 382px / 640px * 100%;
  }

  h3 {
    font-size: 18px;
  }
  .menu-box {
    justify-content: flex-end;
  }
  .menu-btn {
    top: 32px;
    left: 10.5%;
    width: 24px;
    height: 16px;
  }
  @import "../components/burger2";
  .header-background {
    right: -34%;
    background-image: url(../images/design/dog_header_640.png);
  }

  .promo {
    margin-top: -6px;
  }
  .promo-title {
    font-size: 30px;
    margin-top: 33px;
    margin-bottom: 48px;
  }
  .promo-h1 {
    font-size: 12px;
    width: 282px;
    line-height: 14px;
  }
  .promo-text {
    padding-top: 14px;
    font-size: 14px;
    width: 282px;
  }
  .promo-text-info {
    margin-top: 155px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
  }
  .promo-btn {
    margin-top: 3px;
    margin-left: 93px;
    font-size: 18px;
    padding: 0 17.54px;
    height: 30px;
    width: 194px;
  }
  .promo-picture {
    top: -22px;
    left: 65.5%;
  }

  /* Надпись "Я буду лучшим другом" */
  .container {
    .promo-background-img {
      top: 98px;
      background-size: 101.5% auto;
    }
  }
  .promo-footer {
    margin-top: 49px;
    height: 100%;
    .container {
      flex-direction: column;
    }
  }
  .image-wrapper {
    top: 14px;
    width: 51%;
    left: 79px;
  }
  .circle-big {
    overflow: hidden;
    border: 11px solid;
    border-right: 8px solid;
    border-bottom: 9px solid;
    border-radius: 50%;
    color: #ffc41e;
  }
  .circle-small {
    border: 3.25px solid;
    border-right: 2.97px solid;
    border-bottom: 3.34px solid;
    border-radius: 50%;
    color: #ffc41e;
  }
  .promo-footer-info {
    width: 100%;
    margin-right: 0px;
    margin-top: 24px;
    padding-bottom: 16px;
    .promo-h2 {
      padding-top: 33px;
      font-size: 16px;
      padding-left: 0;
    }
    .promo-footer-text {
      font-size: 14px;
      margin-left: 0px;
      padding-top: 0px;
      margin-bottom: 19px;
      line-height: 144%;
    }
  }
  /* Section как помочь */
  .help {
    .container {
      max-width: 78%;
    }
  }
  .title-help {
    font-size: 18px;
    margin-top: 32px;
  }
  .king-help {
    margin-top: 28px;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: space-evenly;
  }
  .help-items {
    p {
      width: 142px;
      font-size: 14px;
      line-height: 20px;
      margin-top: 9px;
    }
    .help-items-img {
      width: 80px;
      height: 80px;
    }
  }

  // ==================================

  .home {
    margin-top: 31px;
  }
  .dividing-stripp {
    img {
      position: relative;
      width: 54px;
    }
    &::after {
      left: 56%;
    }
  }
  .dividing-stripp::before {
    right: 56%;
  }

  .home-for {
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 16px;
  }
  .home-for-info {
    width: 100%;
    padding-right: 0px;

    h3 {
      height: 10%;
      text-align: center;
      font-size: 16px;
    }
    p {
      font-size: 14px;
      margin-top: 28px;
      line-height: 141%;
      margin-bottom: 23px;
    }
  }

  .card-animal {
    figure {
      margin: 0 auto;

      margin-bottom: -21px;
      padding: 17px;
    }
  }
  .photo-card {
    h3 {
      margin-top: 0;
    }
  }
  .requisites {
    padding-bottom: 16px;
  }
  .requisites-article {
    justify-content: space-between;
  }
  .volunteering {
    padding-bottom: 32px;
    .container {
      flex-direction: column;
    }
  }
  .news {
    padding-bottom: 16px;
    h3 {
      padding-top: 16px;
    }
    .container {
      padding: 0 129px;
    }
  }

  .news-blog-text {
    padding-left: 18px;
  }
  .about {
    .container {
      padding: 0 129px;
      p {
        font-size: 16px;
      }
    }
  }
  .social-list {
    margin-left: 0;
    .icon {
      width: 32px;
      height: 32px;
      font-size: 1em;
      margin-left: 28px;
      margin-right: 0;
    }
  }
  .about-web {
    margin-top: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .thank {
    height: 360px;
  }
  .box-left {
    .thanks {
      margin-top: 34.788618%;
      font-size: 30px;
      line-height: 100%;
    }
    .img-foot {
      background-size: 44px;
    }
  }
  .footer {
    .container {
      flex-direction: column;
    }
  }
  .footer {
    .container {
      margin-top: 20px;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 382px;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .footer-menu,
  .footer-menu:nth-child(2),
  .footer-about {
    margin-top: 0;
    flex-direction: column;
  }
  .footer-menu:nth-child(2) {
    order: 1;
  }
  .footer-items {
    margin-left: 0;
  }
  .footer-about {
    align-items: flex-end;
  }
}
