@import "base/normalize";
@import "base/fonts";
@import "components/header";
@import "components/button";
@import "components/footer";
@import "components/dividing_stripp";
@import "inner";

/*Подключаем общие стили==================================*/
body {
  font-family: Gilroy, serif;
  background-color: #f6f6f6;
  position: relative;
  box-sizing: border-box;
  line-height: 140%;
  color: #242424;
}

a {
  text-decoration: none;
  color: #474747;
}
h3 {
  font-weight: 600;
  font-size: 1.75em;
  line-height: 24px;
  color: #242424;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* Контейнер */
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1146px;
}

/* Main==================================================================== */
.main {
  margin-top: 102px;
}

/* Section promo=========================================================== */
.promo {
  position: relative;
}
.promo-title {
  font-weight: 700;
  font-size: 72px;
  color: #242424;
}
.promo-h1 {
  margin-top: -41px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #6b6b6b;
}
.promo-text {
  margin-top: 0px;
  width: 659px;
  font-weight: 600;
  line-height: 140%;
  color: #474747;
}
.promo-text-info {
  margin-top: 44px;
  width: 428px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #c78100;
}

/* Надпись "Я буду лучшим другом" */
.container {
  .promo-background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/design/bestFriend.png) no-repeat;

    top: 184px;
    left: -110px;
  }
}

/* Кот на фоне */

.box-img {
  position: relative;
}

.promo-picture {
  position: absolute;
  top: 140px;
  left: 498px;
  z-index: 1;
}

/* подвал секции promo */

.promo-footer {
  margin-top: 273px;
  // height: 650px;
  background-color: #ffffff;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
/* Декоративный элемент слева */

.image-wrapper {
  top: 54px;
  position: relative;

  width: 45%;
  left: -25px;
}
.image-wrapper::before {
  content: "";
  width: 50vw;
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  background-color: #ffc41e;
}
.image-wrapper-main {
  position: relative;
}
.image-wrapper-main::after {
  background-image: url(../images/design/dogInPriason.png);
  background-size: 100% 100%;
}

.image-wrapper-secondary {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -5%;
  right: -5%;
  width: 45%;
}
.image-wrapper-secondary::after {
  content: "";
  display: block;
  padding-bottom: 100%;
  background-image: url(../images/design/catInPriason.png);
  background-size: 100% 100%;
}

.circle-big {
  overflow: hidden;
  border: 28px solid;
  border-bottom: 29px solid;
  border-radius: 50%;
  color: #ffc41e;
}
.circle-small {
  border: 8px solid #ffc41e;
  border-bottom: 9px solid #ffc41e;
  border-radius: 50%;
}

.circle-big::after {
  content: "";
  display: block;
  padding-bottom: 100%;
  height: 0;
}

// =============================================================
.promo-footer-info {
  margin-top: 101px;
  max-width: 476px;
  margin-right: 97px;
  padding-bottom: 124px;
  flex-grow: 1;
}
.promo-h2 {
  // padding-top: 101px;
  padding-left: 11px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  display: flex;
  text-align: center;
  color: #c78100;
}
.promo-footer-text {
  margin-left: 9px;
  padding-top: 3px;
  font-weight: 400;
  /* line-height: 140%; */
  color: #242424;
}
/* Section как помочь */
.title-help {
  margin-top: 77px;
  text-align: center;
  font-weight: 300;
  font-size: 28px;
  color: #242424;
}
.king-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 49px;
  padding: 0;
}
.help-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  text-align: center;

  &:nth-child(1) > a {
    background: url(../images/design/group1.svg) center/60% 60% no-repeat;
  }
  &:nth-child(2) > a {
    background: url(../images/design/Group2.svg) center/60% 60% no-repeat;
  }
  &:nth-child(3) > a {
    background: url(../images/design/Group3.svg) center/60% 60% no-repeat;
  }
  &:nth-child(4) > a {
    background: url(../images/design/Group4.svg) center/60% 60% no-repeat;
  }
  &:nth-child(5) > a {
    background: url(../images/design/Group5.svg) center/60% 60% no-repeat;
  }

  .help-items-img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ffc41e;
  }
  .help-items-img:hover {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #cccccc;
  }
  p {
    width: 166px;
  }
}

/*=================================================== */
.home-for {
  display: flex;
  margin-top: 67px;
  justify-content: flex-end;
}

.home-for-info {
  padding-right: 97px;
  width: 389px;
  flex-grow: 0;
}
.home-for {
  h3 {
    margin: 0;
    p {
      margin-top: 21px;
      font-weight: 400;
      font-size: 16px;
    }
  }
}

/* Section photo__card============================================== */
.photo-card {
  h3 {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 28px;
  }
}
/* Делаем карточки на гридах */
.photo-card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
}
.card-animal {
  display: grid;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  height: 695px;
  margin-top: 34px;
  margin-bottom: 8px;
  margin-right: 19px;
  max-width: 368px;
  background-color: #ffffff;
  img {
    width: 100%;
  }
}
.card-animal {
  figure {
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: -24px;
  }
}
.card-animal figcaption {
  padding-top: 2px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #242424;
  border-bottom: 1px solid #d6d6d6;
}
.card-animal button {
  margin: 0 auto;
}

.card-animal span {
  margin-top: 5px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #6b6b6b;
  line-height: 20px;
}
.card-animal p {
  margin: 0px;
  margin-top: -19px;
  padding-left: 16px;
  padding-right: 16px;
  height: 95px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.card-animal .btn {
  position: relative;
  top: 11px;
  /* padding-top:10px; */
}
.card-animal .btn-secondary {
  position: relative;
  top: 3px;
}
.new-page {
  display: flex;
  justify-content: center;
  margin-top: 9px;
  margin-left: -38px;

  color: #ad7f00;
}
.new-page-link {
  display: inline-block;
  height: 30px;
  border-bottom: 2px solid;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #ad7f00;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-top: 13px;
  margin-left: 13px;
  width: 7px;
  height: 7px;
  border: solid;
  border-bottom: 2px;
  border-left: 2px;
  position: absolute;
  padding: 2px;
  transform: rotate(45deg);
}
.photo-card-footer {
  display: flex;
  padding-top: 55px;
  padding-left: 195px;
}
.photo-card-footer p {
  max-width: 583px;
  font-size: 18px;
  line-height: 24px;
  color: #242424;
}
.icon-photo-card {
  display: flex;
  align-items: center;
}
.icon-photo-card {
  .social-list {
    margin-top: -7px;
    margin-left: 38px;
  }
}
.requisites {
  height: 681px;
  background-color: #ffffff;
}
.requisites h3 {
  margin-top: 99px;
  text-align: center;
}
.requisites-intro {
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  max-width: 758px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #6b6b6b;
}

.requisites-article {
  display: flex;
  justify-content: space-evenly;
  margin-left: -18px;
}
.requisites-article article {
  width: 389px;
}
.requisites-article h4 {
  margin-top: 42px;
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  margin-bottom: 0;
}

.requisites-article ul {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
  margin-top: 25px;
  padding: 0;
}
.requisites-article li {
  margin-top: 6px;
}
.requisites-article .btn {
  margin-top: 10px;
}
.requisites-article ol {
  padding-left: 16px;
}

// Секция карма
.other-help {
  h4 {
    margin-top: 40px;
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
  }

  .container {
    margin-top: 54px;
    padding-left: 120px;
    width: 678px;
    align-content: center;
  }
  .list {
    list-style-type: none;
  }

  ul {
    margin: 0;
    padding: 0;

    //  list-style-type: none;
    li {
      padding-left: 0;
      padding-top: 4px;
      list-style-type: none;
      list-style-position: inside;
    }
    li:before {
      content: "•";
      margin-right: 5px;
    }
  }
  p {
    margin-top: 10px;

    span {
      font-weight: 300;
    }
  }
  .new-page {
    justify-content: start;
    margin-left: 0px;
    margin-top: 20px;
  }
}
// Раздел автопомощь
.auto-help {
  .container {
    width: 680px;
    align-content: center;
    padding-left: 120px;
    padding-top: 10px;
  }

  .btn {
    margin-top: 6px;
  }
}
// Раздел волонтерство
.volunteering {
  height: 656px;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    // flex-wrap: wrap;
  }
  .promo-box {
    top: -7px;
    position: relative;
    &::before {
      content: "";
      width: 50vw;
      height: 521px;
      position: absolute;
      right: 76%;
      top: 0px;
      bottom: 0;
      background-color: #ffc41e;
    }
  }
  .promo-box-circle {
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
      height: 0;
      background: url(../images/design/Ellipse_3.png) no-repeat;
      // margin-left: -13px;
      background-size: 100% 100%;
      // border-radius: 50%;
    }
  }

  article {
    padding-top: 73px;
    padding-left: 10px;
    max-width: 466px;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    padding-top: 12px;
    margin-bottom: -11px;
  }
  .btn {
    margin-top: 10px;
  }
}
// Новости
.news {
  height: 563px;
  background-color: #ffffff;
  .container {
    max-width: 778px;
  }
  h3 {
    padding-top: 54px;
    text-align: center;
  }
  .new-page-link {
    margin-top: 3px;
    margin-left: 10px;
  }
}
.news-blog {
  display: flex;
  img {
    width: 140px;
    height: 140px;
    padding-top: 20px;
    padding-left: 9px;
    padding-bottom: 20px;
  }
  .news-blog-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    max-width: 603px;
    // padding-top: 12px;
    padding-left: 35px;
    p {
      margin: 0;
      margin-bottom: 5px;
    }
  }
}

// Раздел о нас
.about {
  .container {
    padding-left: 119px;
    max-width: 680px;
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-top: 32px;
      margin-bottom: -8px;
    }
  }
  h3 {
    margin-top: 56px;
    text-align: center;
  }
  .contacts {
    h4 {
      font-size: 22px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      margin-top: 0px;
      line-height: 140%;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 5px;
      }
    }
  }
  .abot_web {
    margin-top: 43px;
    p {
      font-size: 16px;
      color: #6b6b6b;
    }
    svg {
      fill: #000;
      width: 1%;
      height: 1%;
    }
  }
}
//иконки соцсетей
.social-list {
  display: flex;

  a {
    display: flex;

    color: #e8a700;
    width: 44px;
    height: 44px;
    border: 2px solid #ffc41e;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    font-size: 28px;
    font-weight: 400;
  }
}
//Раздел thank
.thank {
  display: flex;
  margin-top: 54px;
  height: 741px;
  background-image: url(../images/design/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .box-left {
    position: relative;
    width: 615px / 1366px * 100%;
    margin-top: 119px / 1366px * 100%;
    margin-bottom: 101px / 1366px * 100%;
    &::before {
      content: "fsdfsdfd";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      mix-blend-mode: soft-light;
      background-color: #322d1e;
      border-top-right-radius: 35vw;
      border-bottom-right-radius: 34vw;
    }
    .img-foot {
      background-image: url("../images/design/img-foot.svg");
      position: absolute;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 91% 59%;
      background-size: 88px;
    }
    .thanks {
      padding-right: 22%;

      margin-top: 184px / 615px * 100%;
      margin-left: 134px / 615px * 100%;
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
      color: #ffffff;
    }
  }
}
// Breakpoints
@import "breakpoints/1024px";
@import "breakpoints/768px";
@import "breakpoints/640px";
@import "breakpoints/360px";
